<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PDCalender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FECD8F141F25C57C00D54632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FECD8F281F25C57D00D54632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FECD8F331F25C57D00D54632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
